################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.zip
/images/team
/.vs/slnx.sqlite
/.vs/租车小程序/v15/.suo
/.vs/config/applicationhost.config
/.vs/VSWorkspaceState.json
